body {
  width: 960px;
  margin: 0 auto;
}
form {
  max-width: 50%;
  margin: 0 auto;
  float: left;
  display: inline-block;
}
#final_score {
  max-width: 50%;
  display: inline-block;
}
button {
  padding: 20px 50px;
  margin: 10px auto;
  border-radius: 5px;
  display: inherit;
}
